body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.titleBar{
    float: left;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    height: 20px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.titleBar .back{
    float: left;
    width: 30px;
    text-align:center;
}

.titleBar .finish{
    float: right;
    right:10px;
    width: 60px;
    font-size: 16px;
    color: #3487ff;
    text-align: center;
    margin:2px 10px 0 0;
}

.content{
    float: left;
    width: 100%;
}

.chooseDateDiv{
    float: left;
    width:50%;
    margin: 0 auto;
    /*background: red;*/
    height: 200px;
    padding: 15px 0;
    position: relative;
}

.chooseDateDiv .title{
    margin:0 auto;
    text-align: center;
    display: block;
    color: #7B7B7B;
    font-weight: bold;
}

.chooseDateDiv .timeBar{
    width: 30px;
    margin-top:5px;
    position: absolute;
}

.hour{
    left:20%;
}

.min{
    right:20%;
}

.chooseDateDiv .timeBar .plus{
    margin-top:10px;
    background: url("../images/plus.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}

.chooseDateDiv .timeBar .minus{
    margin-buttom:10px;
    background: url("../images/minus.png");
    background-size: cover;
    width: 30px;
    height: 30px;
}

.chooseDateDiv .timeBar input{
    width: 100%;
    height: 40px;
    color: #2b2b2b;
    margin: 10px 0 10px -2px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.listItem{
    width: 100%;
    float: left;
    position: relative;
    height: 35px;
}

.listItem .itemName{
    position: absolute;
    left: 10%;
    font-size: 18px;
    font-weight: bold;
    color: #acacac;
}

.listItem .itemContent{
    position: absolute;
    right: 10%;
    font-size: 18px;
    font-weight: bold;
    color: #acacac;
}
